/* Specific stuff */
.video-container iframe {max-width:100%}

/* Random spacing fix (jobb) */
.object-description .r-margin p { margin-left: 0; margin-right: 0; }

/*  */
.hover-background a:hover{
	background-color:#f4f7fa;	
}

/* Market hover */
.market-selector a{display:block;height:auto;}

.market-selector [class^="icon-"]{
	line-height:43px;font-size:43px
}

.external-link{
	position: absolute;
	bottom: 10px;
	right: 17px;
}
@media screen and (max-width:767px) {
	.external-link{
		bottom: -6px;
		right: 3px;
	}
}
.market-selector .icon-eksternlenke{
	font-size:20px;
}

/* Filters */
.list-icon { width: 20px; }
.modal-container {
    position: absolute;
    opacity: 1;
    top: 100px;
    left: 40px;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.modal-backdrop {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-transition: opacity .2s ease-out, -webkit-transform 0 .2s;
    transition: opacity .2s ease-out, transform 0 .2s;
    -webkit-transform: translate3d(0, -100000px, 0);
    transform: translate3d(0, -100000px, 0);
}

.modal-active {
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.modal-container {
    position: fixed;
    background-color: #fff;
    opacity: 0;
    margin: auto;
}
.modal-active .modal-container {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.modal-backdrop {
    position: fixed;
    z-index: 3;
}
.app-toolbar-modal {
    z-index: 2;
    top: 0;
    height: 50px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 solid #cdd3d8;
    border-bottom-width: 1px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.scroll-container {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


.list-line:not(:last-child) {
    border-bottom: 1px solid #CDD3D8;
}
/* skal vi lage en generell greie for slike vertikale skillelinjer? Denne er brukt til footer */
.verticalhr li:not(:last-child){
   border-right:1px solid #CDD3D8;
}


@media screen and (min-width: 768px) {
    .fixedfilters .scrollbar::-webkit-scrollbar {
        width:5px;
        background: transparent;
    }
    .fixedfilters .scrollbar:hover::-webkit-scrollbar {

    }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb{
        background-color:#eee;
        border-radius:5px;
    }
    .fixedfilters .scrollbar:hover::-webkit-scrollbar-thumb{
        background-color:#ccc;
    }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb:hover{
        background-color:#bbb;
    }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb:active{
        background-color: #aaa;
    }
    .fixedfilters .scrollbar { max-height: 600px; margin-right: 5px; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
    .modal-content { max-height: 500px; }
}

@media screen and (max-width: 767px) {
    .filters-overlay {
        position: fixed;
        z-index: 2;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .95);
        /* 120% instead of 100%, otherwise things show up at the bottom when the chrome disappears when scrolling in some browsers. */
        -webkit-transform: translate3d(0, 120%, 0);
        transform: translate3d(0, 120%, 0);
        /* Since translateY is 120%, we make this transition slightly slower, to give the impression that they are approximately equally fast both up and down. */
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .filters-overlay-active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
    }

    .modal-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    body,
    .scroll-container {
        padding-bottom: 30px; /* Avoid the issue of toolbars showing up when clicking too close to the bottom toolbar on iOS 7. */
    }
}