/* **************** TEMPLATE ***************** */
/* ====== Page Head, Body, and Foot ====== */
body, html { background-color: rgba(225,233,241,1); }
body{
    padding-top: 10px;
    background-image: -moz-linear-gradient(top, rgba(164,193,211,1) 0%, rgba(191,209,223,1) 21%, rgba(225,233,241,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,193,211,1)), color-stop(21%,rgba(191,209,223,1)), color-stop(100%,rgba(225,233,241,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(164,193,211,1) 0%,rgba(191,209,223,1) 21%,rgba(225,233,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(164,193,211,1) 0%,rgba(191,209,223,1) 21%,rgba(225,233,241,1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(164,193,211,1) 0%,rgba(191,209,223,1) 21%,rgba(225,233,241,1) 100%); /* IE10+ */
    background-image: linear-gradient(top, rgba(164,193,211,1) 0%,rgba(191,209,223,1) 21%,rgba(225,233,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4c1d3', endColorstr='#e1e9f1',GradientType=0 ); /* IE6-9 */
}
.main{display:table-cell;*display:block;width:auto;}
.body,.main{*zoom:1;}
.body:after,.main:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.page{padding:10px 0 0 10px;width:990px;_text-align:left;margin-top: -10px;} /* wraps other template elems to set width */ /* text-align IE5.5 */
.wrapper { width: 1190px; margin: 0 auto; }
.foot > .mod { width: 990px; margin: 0 auto!important; padding-right: 180px; width: 990px; }
/* "old school" and "liquid" extend page to allow for different page widths */
.oldSchool{width:750px;}
.gs960{width:960px;}
.liquid{width:auto;margin:0;}
/* ====== Columns ====== */
.leftCol{float:left;width:330px;_margin-right:-3px;}
.rightCol{float:right;width:330px;_margin-left:-3px;}
/* extend columns to allow for common column widths */
.gMail{width:160px;}
.gCal{width:180px;}
.yahoo{width:240px;}
.myYahoo{width:300px;}
.prospect20{width:410px;}



.mod{margin:0 10px 10px 0 !important}


.rightCol.object > .mod {margin-right:0 !important}
.rightCol.object{width:320px}