/* **************** TEMPLATE ***************** */
/* ====== Page Head, Body, and Foot ====== */
body{_text-align:center;}/* IE5.5 */
.main{display:table-cell;*display:block;width:auto;}
body, html {
    background-color:#e9eff5;
}
.body,.main{*zoom:1;}
.body:after,.main:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.page{width:auto;_text-align:left;margin-left:2px;}
.topbar.fixed + .container,
.topbar-level2.hidden + .container { margin-top: 65px; }
.topbar.fixed.defaultopen + .container,
.topbar-level2.fixed:not(.hidden) + .container { margin-top: 110px; }
.container.fullsize { max-width: 100%; }
 /* wraps other template elems to set width */ /* text-align IE5.5 */

.liquid{width:auto;margin:0;}
/* ====== Columns ====== */
.leftCol{float:left;width:330px;_margin-right:-3px;}
.rightCol{float:right;width:330px;_margin-left:-3px;}
/* extend columns to allow for common column widths */
.prospect20{width:410px;}

.rightCol.object > .mod {margin-right:0 !important}
.rightCol.object{width:320px}

.head {
    position: relative;
    z-index: 10;
}

@media screen and (min-width:768px) {
    .page{max-width:990px;margin-left: 10px;}
    .container { max-width: 1000px; margin: 0 auto; }
	.container.kindawide { max-width: 1230px; }
	.container.prettywide { max-width: 1470px; }
}