.container { max-width: 1000px; margin: 0 auto; }
.page { width: 990px; }
.page.fullsize{ width:100%; } /* Fix for jobb, på cv vinner 990px og ting havner i overflow  */

/* Spacing */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p,blockquote, .media {margin:10px 20px;}
dt, dd { margin: 0 20px; }
.rmargin, .r-margin {margin:10px 20px;}
.r-mlm, .r-mhm, .r-mam {margin-left:10px !important;}
.r-mrm, .r-mhm, .r-mam {margin-right:10px !important;}
.r-mtm, .r-mvm, .r-mam {margin-top:10px !important;}
.r-mbm, .r-mvm, .r-mam {margin-bottom:10px !important;}
.r-mll, .r-mhl, .r-mal {margin-left:20px !important;}
.r-mrl, .r-mhl, .r-mal {margin-right:20px !important;}
.r-mtl, .r-mvl, .r-mal {margin-top:20px !important;}
.r-mbl, .r-mvl, .r-mal {margin-bottom:20px !important;}
.r-plm, .r-phm, .r-pam {padding-left:10px !important;}
.r-prm, .r-phm, .r-pam {padding-right:10px !important;}
.r-ptm, .r-pvm, .r-pam {padding-top:10px !important;}
.r-pbm, .r-pvm, .r-pam {padding-bottom:10px !important;}
.r-pll, .r-phl, .r-pal {padding-left:20px !important;}
.r-prl, .r-phl, .r-pal {padding-right:20px !important;}
.r-ptl, .r-pvl, .r-pal {padding-top:20px !important;}
.r-pbl, .r-pvl, .r-pal {padding-bottom:20px !important;}

/* Grid */
.hideht768{display:none}
.r-cols1to2 .unit { width: 50%; }
.r-cols1to3 .unit,
.r-cols2to3 .unit { width: 33.3333%; }
.r-cols1to4 .unit,
.r-cols2to4 .unit,
.r-cols3to4 .unit { width: 25%; }
.r-cols2to5 .unit { width: 20%; }
.r-size1of1 {float:none;}
.r-size1of2 {width:50%;}
.r-size1of3 {width:33.33333%;}
.r-size2of3 {width:66.66666%;}
.r-size1of4 {width:25%;}
.r-size3of4 {width:75%;}
.r-size1of5 {width:20%;}
.r-size2of5 {width:40%;}
.r-size3of5 {width:60%;}
.r-size4of5 {width:80%;}
.r-size1of6 {width:16.6666666%;}
.r-size5of6 {width:83.3333333%;}

.r-cols1to2 > .unit:first-child + .unit + .unit { clear:both; }
.r-cols1to2 > .unit:first-child + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to2 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to2 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to2 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to2 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to2 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }

.r-cols1to3 > .unit:first-child + .unit + .unit + .unit,
.r-cols2to3 > .unit:first-child + .unit + .unit + .unit { clear:both }
.r-cols1to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols2to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols2to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols1to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols2to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit{ clear:both }
.r-cols1to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols2to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit{ clear:both }
.r-cols1to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols2to3 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit{ clear:both }

.r-cols2to4 > .unit:first-child + .unit + .unit + .unit + .unit,
.r-cols3to4 > .unit:first-child + .unit + .unit + .unit + .unit { clear:both }
.r-cols2to4 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols3to4 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols2to4 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols3to4 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit{ clear:both }
.r-cols2to4 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit,
.r-cols3to4 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit{ clear:both }

.r-cols2to5 > .unit:first-child + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols2to5 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols2to5 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }

.r-cols2to6 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols2to6 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }
.r-cols2to6 > .unit:first-child + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit + .unit { clear:both }

/* Misc fallbacks */
.inprogress { background: url("../../img/animatedstripes.gif") repeat!important; }
.nav-level1 a { height: 55px; line-height: 55px; padding-left: 20px; padding-right: 20px; }
.topbar-nav-svg img, .topbar-nav-svg-home img { display: none; }
.homelink { position: relative; }
.topbar-nav-svg-home:before { content: url("/img/finn-logo.png"); position: absolute; top: 10px; left: 0; }
.topbar-nav-svg-home { padding-left: 116px; }