	.marker{position:absolute;}
	.marker.poi{
		position:absolute;
		top:400px;
		left:1000px;
		width:20px;
		height:20px;
		background-color:red;
		border:2px solid #aa0000;
		border-radius:5px;
	}
	.bouble{
		z-index:10;
		position:absolute;
		background-color:#a2d2ee;	
		border:1px solid #82AFC9;
		border-radius:4px;
		box-shadow:0 8px 10px 3px rgba(0, 0, 0, 0.3);
		color:white;
	}
	.bouble.bl{	bottom:30px;left:0;	}
	.bouble.bm{ bottom:30px;}
	.bouble.br{	bottom:30px;right:0; }
	.bouble.tl{	top:30px;left:0; }
	.bouble.tm{	top:30px;}
	.bouble.tr{	top:30px;right:0; }
	.bouble.lt{	top:0;left:30px; }
	.bouble.lb{	bottom:0;left:30px;	}
	.bouble.rt{	top:0;right:30px; }
	.bouble.rb{	bottom:0;right:30px; }
	

	.snakkis{
		position: absolute;
		border-style: solid;
		height: 0px;
		width: 0px;
	}


	.bl,bm,br,lt,rt{ border-color: #82AFC9 transparent transparent transparent; }


	.bl .snakkis{
		border-color: #82AFC9 transparent transparent transparent;
		border-width: 20px 20px 0 0;
		left: 13px;	
	}
	.bm .snakkis{
		border-color: #82AFC9 transparent transparent transparent;
		border-width: 20px 10px 0 10px;
		margin-left: -10px;	
		left:50%;
	}	
	.br .snakkis{
		border-color: #82AFC9 transparent transparent transparent;
		border-width: 20px 0 0 20px;
		right: 13px;	
	}
	.tl .snakkis{
		border-color: transparent transparent transparent #82AFC9;
		border-width: 20px 0 0 20px;
		left: 13px;	
		top:-20px;
	}
	.tm .snakkis{
		border-color: transparent transparent #82AFC9 transparent;
		border-width: 0 10px 20px 10px;
		margin-left: -10px;	
		left:50%;
		top:-20px;
	}
	.tr .snakkis{
		border-color: transparent #82AFC9 transparent transparent;
		border-width: 20px 20px 0 0;
		right: 13px;	
		top:-20px;
	}
	.lt .snakkis{
		border-color: #82AFC9 transparent transparent transparent;
		border-width: 20px 0 0 20px;
		left: -20px;	
		top:13px;
	}
	.lm .snakkis{
		border-color: transparent #82AFC9 transparent transparent;
		border-width: 10px 20px 10px 0;
		left: -20px;	
		top:50%;
		margin-top:-10px;
	}
	.lb .snakkis{
		border-color: transparent transparent #82AFC9 transparent;
		border-width: 0 0 20px 20px;
		left: -20px;	
		bottom:13px;
	}
	.rt .snakkis{
		border-color: #82AFC9 transparent transparent transparent;
		border-width: 20px 20px 0 0;
		right: -20px;	
		top:13px;
	}
	.rm .snakkis{
		border-color: #82AFC9 red green blue;
		border-width: 20px 20px 20px 20px;
		right: -20px;	
		top:50%;
		margin-top:-10px;
	}
	.rb .snakkis{
		border-color: transparent transparent #82AFC9 transparent;
		border-width: 0px 20px 20px 0px;
		right: -20px;	
		bottom:13px;
	}
	
	.whitecrap{
		background-color:white;
		border-radius:2px;
		margin:8px 8px 8px 8px;
		color:#666;
	}
