.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, .6);
    z-index: 11000;
    text-align: center;
}

.modal-box-container {
    position: absolute;
    z-index: 1;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    overflow: visible;
}

.modal-box {
    display: inline-block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    z-index: 11010;
    text-align: left;

}
.modal-box .modal-inner {
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.modal-box iframe {
    max-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
}

.modal-close.close-button {
    position: absolute;
    top: 0;
    right: 0;
}